<p>
	<strong>Phone:</strong>
	<%= phone.nphone %>
</p>

<p>
	<strong>Type:</strong>
	<%= phone.status %>
</p>

<%= link_to "<button>Delete Phone</button>".html_safe, [phone.contact, phone], method: :delete, data: { confirm: 'Are you sure?' }, :class => 'button', :id => 'button7' %>