<div class="container-fluid">
	<div class="table-responsive">
		<table class="table">
			<thead>
				<tr>
					<th><strong>No</strong></th>
					<th><strong>Type</strong></th>
					<th><strong>Phone</strong></th>
					<th><strong>Option</strong></th>
				</tr>
			</thead>
			<tbody>
				<%= render "phones/phone" %>
			</tbody>
		</table>
	</div>
</div>