<%= render 'phonebook/header' %>

<%= render 'phones/viewphone'%>

<button type="button" class="btn btn-primary" onclick="new_phone()">Add Phone</button>



<div id="show_form">

</div>

<script>
	function new_phone(){
		$.get("<%= new_contact_phone_path %>",{},null,"script");
	}

	function edit_phone(id){
		$.get("/contacts/<%= @contact.id %>/phones/"+id+"/edit",{},null,"script");
	}
</script>