<div class="jumbotron">
  <div class="container text-center">
    <h1>Phonebook</h1>
    <%= link_to "<button>GOTO CONTACTS</button>".html_safe, contacts_path, :class => "button", :id => "button1" %>
  </div>
</div>
