<div class="login">
  <%= form_for(resource, :as => resource_name, :url => session_path(resource_name), :html => {:role => 'form'}) do |f| %>
    <h1><a href="/">Phonebook </a></h1>
    <div class="login-bottom">
      <h2>Login</h2>
      <form>
      <div class="col-md-6">
        <div class="login-mail">
          <%= f.email_field :email, :autofocus => true, type:'text', placeholder:'Email', id:'email' %>
          <span class="fa fa-envelope"></span>
        </div>
        <div class="login-mail">
        <%= f.password_field :password, type:'password', placeholder:'Password', id:'pwd' %>
          <span class="fa fa-lock"></span>
        </div>
           <a class="news-letter " href="/users/password/new">
             <%- if devise_mapping.recoverable? %>
             <label class="checkbox1"><input type="checkbox" name="checkbox" ><i> </i>Forget Password</label><% end %>
           </a>
      </div>
      <div class="col-md-6 login-do">
        <label class="hvr-shutter-in-horizontal login-sub">
          <input type="submit" value="Login">
          </label>
          <%- if devise_mapping.registerable? %>
          <p>Do not have an account?</p>
        <a href="/users/sign_up" class="hvr-shutter-in-horizontal">Signup</a><% end %>
      </div>
      
      <div class="clearfix"> </div>
      </form>
    </div>
    <% end %>
  </div>