<% @contact.alamats.order(:address).page(params[:page]).per(5).each_with_index do |alamat, index|%>
	<tr>
		<td><%= index.next %></td>
		<td><%= alamat.address %></td>
		<td><button type="button" class="btn btn-success" onclick='edit_alamat("<%= alamat.id %>")'>Edit</button>
		<%= link_to "<button class='btn btn-danger'>Delete</button>".html_safe, [alamat.contact, alamat], method: :delete, data: { confirm: 'Are you sure?' }, :class => 'button', :id => 'button8' %></td>
	</tr>
<% end %>