<%= form_for([@contact, @alamat]) do |f| %>
  <p>
    <%= f.label :Address %><br>
    <%= f.text_field :address, required: true, minlength: 15, maxlength:30 %>
  </p>
  <p>
    <%= f.submit %>
  </p>
<% end %>