<div id="myModal", class="modal fade", role="dialog">
	<div class=" modal-dialog modal-sm">
		<div class="modal-content">
			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal" onclick="window.location.href='/contacts/<%= @contact.id %>/alamats'">&times;</button>
				<h4 class="modal-title">Add Address</h4>
			</div>
			<%= render 'alamats/form' %>
		</div>
	</div>
</div>

<script>
	$("#myModal").modal("show")
</script>