<%= render 'phonebook/header' %>

<%= render 'alamats/viewalamat'%>

<button type="button" class="btn btn-primary" onclick="new_alamat()">Add Address</button>

<div id="show_form">

</div>

<script>
	function new_alamat(){
		$.get("<%= new_contact_alamat_path %>",{},null,"script");
	}

	function edit_alamat(id){
		$.get("/contacts/<%= @contact.id %>/alamats/"+id+"/edit",{},null,"script");
	}
</script>